* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: normal;
    color: white;
}

body {
    background-image: url(../img/bg-fog-tree.jpg);
    /* background-size: cover; */
    background-position: 60% 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

header .fa-phone,
header .fa-phone-alt {
    font-size: 30px;
    flex-basis: 20%;
    text-align: right;
}

header .fa-phone {
    text-align: left;
}

header>h2 {
    flex-basis: 60%;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

header .fa-envelope {
    flex-basis: 15%;
    font-size: 18px;
    text-align: right;

}

header .right {
    text-align: left;

}

header h3 {
    flex-basis: 70%;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

header a {
    text-decoration: none;
}

.myPhoto {
    background-image: url(../img/my-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 0.5em gold;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 280px;
}

.about {
    background-color: darkgreen;
}

.about h2 {
    color: black;
    font-size: bold;
    margin-bottom: 25px;
    text-align: center;
}

.shortAbout {
    color: white;
    margin: 0 auto 20px auto;
    text-align: justify;
    width: 90%;
}

/* activities section */

.activities {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: cadetblue;

}

.in-activities {
    border-bottom: 1px solid white;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 5px 0;
    position: relative;
}

.activities h3 {
    flex-basis: 90%;
    font-size: 26px;
    text-transform: uppercase;
}

.in-activities .show {
    flex-basis: 10%;
    font-size: 26px;
    text-align: center;
}

.in-activities article {
    flex-basis: 100%;
    display: none;
    margin: 10px 0;

}

.fa-caret-down {
    transition: 0.3s;
}

/* class for rotate fa object */
.rotate {
    transform: rotate(180deg);
}

/* text in articles */

article .singleCourse {
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
}

article .date {
    text-align: center;

}

article .description,
.companyName {
    color: darkred;
    font-size: 16px;
    margin-top: 20px;
    text-align: left;
}

article .organizer,
.jobPosition {
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

article .organizerLogo {
    position: absolute;
    bottom: 30%;
    right: 0;
    margin-right: 10px;
}

.courses .singleCourse:after {
    background-color: blue;
    content: "";
    display: block;
    height: 2px;
    margin: 50px auto 0 auto;
    width: 80%;
}

/* experience */

.responsibilities {
    list-style-position: outside;
    margin-top: 5px;
    padding-left: 30px;
}

.responsibilities li {
    color: yellow;
    text-align: justify;

}

/* education */
.singleMajor {
    text-align: center;
}

.singleMajor .date {
    margin-top: 10px;
    font-size: 26px;
}

.singleMajor p {
    margin-bottom: 15px;
}

.singleMajor .university {
    font-size: 28px;
    letter-spacing: 2px;
}

.singleMajor .faculty {
    font-size: 22px;
    letter-spacing: 2px;
}

.singleMajor .major {
    margin-bottom: 5px;
}

.singleMajor .level:after {
    background-color: blue;
    content: "";
    display: block;
    height: 2px;
    margin: 20px auto 0 auto;
    width: 80%;
}

.singleMajor img {
    width: 40%;
    margin: 10px 0;
}

.abilities article {
    text-align: center;
}

.abilities img {
    width: 30%;
    margin: 8px 3px 10px 0;
}

/* footer  */
footer {
    padding: 15px 0;
    background-color: grey;
}

footer p {
    font-size: 8px;
    text-align: justify;
}