* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", "B612", sans-serif;
  font-weight: normal;
  color: white;
}

html {
  font-size: 9px;
}

.title {
  color: black;
  font-weight: bold;
  flex-basis: 100%;
  font-family: "B612";
  font-size: calc(15px + 3.6vw);
  letter-spacing: 3px;
  padding: calc(20px + 1.2vw) 0 calc(20px + 1.2vw) 0;
  text-transform: uppercase;
  text-align: center;
}

/* .activity-section {
  padding: calc(3rem + 7vw) 15px 50px 15px;
} */

/* ----- header section ----- */
.header {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  padding: 80px 0;
}

.header__name,
.header__job {
  color: white;
  margin: 0 auto 20px auto;
  width: 95%;
}

.header__job {
  font-size: calc(16px + 1vw);
  font-weight: normal;
  margin-bottom: 60px;
  }

.header__social-media {
  margin-bottom: 120px;
  text-align: center;
}

.header__link {
  margin-right: 25px;
}

.header .fa-linkedin,
.header .fa-github-square {
  font-size: 5rem;
}

.header__up-arrow {
  background-color: red;
  border-radius: 50%;
  bottom: -45px;
  height: 40px;
  opacity: 0;
  position: fixed;
  right: 10px;
  transition: all 0.8s;
  visibility: hidden;
  width: 40px;
  z-index: 1000;
}

.header__my-photo {
  background-image: url(../img/my-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
  border: 1px solid blue;
  height: calc(240px + 8vw);
  margin: 0 auto;
  width: calc(240px + 8vw);
}

.header .fa-arrow-up {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.header__up-arrow--show {
  bottom: 10px;
  visibility: visible;
  opacity: 1;
}

/* ----- about section ----- */

.about {
  background-image: url(../img/wooden-plank.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  }

.about__title {
  color: white;
  }

.about__about-me {
  font-size: calc(10.5px + 1.2vw);
  color: white;
  margin: 0 auto;
  padding-bottom: 60px;
  text-align: justify;
  width: 90%;
  line-height: 150%;
}

.about__about-me--bold {
  font-weight: bold;
}

/* ----- project section ----- */

.projects__project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.projects__project {
  width: 250px;
  margin: 0 10px calc(20px + 3vw) 10px;
  overflow: hidden;
}

.projects__project-img {
  width: 100%;
  height: auto;
  border: 5px double #444;
}

.projects__project-name {
  font-size: 2em;
  color: black;
  padding: 0 10px;
  text-align: center;
}

.projects__project-description {
  color: black;
  font-size: 1.3em;
  padding: 0 10px;
  text-align: justify;
}


/* ----- courses section ----- */

.courses {
  background-image: url(../img/pattern2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  }
  .courses__title{
    color: #fff;
  }

.courses__courses-set{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.courses__single-course {
  background-image: url(../img/pattern4.jpg);
  background-size: cover;
  border: 3px ridge #bbb;
  display: flex;
  flex-direction: column;
  font-size: calc(15px + 1vw);
  height: auto;
  margin: 20px auto;
  padding: 10px;
  position: relative;
  flex-basis: calc(220px + 15vw);
  height: calc(220px + 15vw);
  
  }

.courses__course-title {
margin-bottom: calc(8px + 2vw);
}
.courses__course-title--dark-theme{
  color: #333;
  font-weight: bold;
}

.courses__course-date,
.courses__course-organizer{
  color: #666;
  font-size: calc(10px + 1vw);
}
.courses__course-organizer{
  margin-bottom: calc(4px + 2vw);
}
.courses__logo{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  }
.courses__organizer-logo {
  width: calc(70px + 5vw);
}
.courses__organizer-logo--bigger{
  width: calc(150px + 5vw);
}

/* ----- abilities ----- */

.abilities {
  background-color: #9400ff;
  margin: 0px auto;
  padding: 50px 0;
}

.abilities article {
  text-align: center;
  margin-bottom: 40px;
}

.abilities__skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.abilities__skill {
  width: calc(60px + 5vw);
  max-width: 110px;
  margin: calc(15px + 1.2vw);
}

/* ------ education ------ */
.singleMajor {
  text-align: center;
}

.singleMajor p {
  color: black;
  margin-bottom: 15px;
}

.singleMajor .date {
  text-align: center;
}

.singleMajor .major {
  font-size: 2.2em;
  letter-spacing: 1px;
  color: #000;
}

.singleMajor .level {
  font-size: 2em;
  letter-spacing: 1px;
}

.singleMajor .university {
  margin-bottom: 5px;
  font-size: 1.6em;
}

.singleMajor .faculty {
  font-size: 1.4em;
  color: #888;
}

.singleMajor .faculty:after {
  background-color: rgb(145, 30, 30);
  content: "";
  display: block;
  height: 2px;
  margin: 20px auto 0 auto;
  width: 80%;
}

.singleMajor img {
  width: 40%;
  max-width: 250px;
  margin: 10px 0;
}

/* interests */
.interests article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.interests article div {
  width: 250px;
  height: 250px;
  background-size: cover;
  margin: 0 10px 50px 0;
  border-radius: 5%;
  border: 5px solid black;
}

.firstInterest {
  background-image: url(../img/hiking.png);
}

.secondInterest {
  background-image: url(../img/running.jpg);
}

.interests article .thirdInterest {
  background-image: url(../img/skiing.jpg);
}

.interests article .fourthInterest {
  background-image: url(../img/cross-country.png);
}

/* ----- footer -----  */
footer {
  padding: 15px 0;
  background-color: grey;
  text-align: center;
}

/* ---- media queries ----- */

@media (min-width: 425px) {

  .projects__project {
   width: 350px;
  }
}

@media (min-width: 768px) {

  /* ----- header ----- */
  .header__name,
  .header__job {
    text-align: left;
    margin-left: 70px;
  }

  .header__social-media {
    text-align: left;
    margin-left: 70px;
    ;
  }

   /* activities */

  .activity-section article {
    font-size: 12px;
  }

  }

@media (min-width: 1024px) {

  .header__name,
  .header__job {
    margin-left: 100px;
  }

  .header__social-media {
    margin-left: 100px;
  }

   .title {
    flex-basis: 90%;
   }
}